---
Language: Cpp

# Limits
ColumnLimit: 120

# Indents
IndentWidth: 4
PPIndentWidth: 4
NamespaceIndentation: All
LambdaBodyIndentation: OuterScope

# Breaking
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterClass: true
  AfterEnum: true
  AfterUnion: true
  AfterFunction: true
  AfterCaseLabel: true
  AfterControlStatement: Always
  SplitEmptyFunction: false
  BeforeLambdaBody: false
  BeforeCatch: true
  BeforeWhile: true
  BeforeElse: true
  AfterNamespace: true
  AfterExternBlock: false
  SplitEmptyNamespace: true

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: Yes

# Alignments
PointerAlignment: Left
ReferenceAlignment: Left

# Break parameters to each line
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false

# Spaces
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false

# Tabs
UseTab: Never
